.wrapper {
  min-height: 100%;
}
.content {
    padding-bottom: 40px;
     /*隨footer高度需做調整*/
  }

  .footer {
    height: 25px; /*設定footer本身高度*/
    margin-top: -25px; /*隨footer高度需做調整*/
    background-color: $bg-bl;
    text-align: center;
    color: $bg-wt;
    line-height: 25px;
    font: { 
        size: 8px;
        weight: $roboto-r4;
    }
  }